:root {
    /* Variables globales pour les couleurs : */
    --background-color: #f0f0f0;
    --text-color: #333333;
    --primary-color: rgb(213, 206, 196);
    --primary-hover-color: #F0D780;
    --secondary-color: #f8f9fa;
    --message-sent-color: #F0D780;
    --message-recieved-color: #FFF6BE;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.SubmitBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.SubmitButton{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
}
.SubmitButton:hover{
    background-color: var(--primary-hover-color);
}

.Links{
    color: var(--primary-color);
    text-decoration: none;
}

.NavButton {
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 12px 12px;
    background-color: var(--background-color);
    transition: background 0.2s, color 0.2s;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* Bouton actif */
.NavButton.active {
    background-color: var(--primary-hover-color);
    color: #fff;
}

/* Hover sur les boutons */
.NavButton:hover {
    background-color: var(--message-sent-color);
    color: var(--text-color);

}

#decoButton {
    width: 100%;
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    padding: 12px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.2s;
    
}

#decoButton:hover {
    background-color: var(--primary-hover-color);
    color:var(--text-color);
}